.cards {
 
    display: flex;
 
    flex-wrap: wrap;
    
    align-items: center;
    
    justify-content: center;
 
}

.card {
 
    display: flex;
    flex: 0 0 250px
 
}

.row {
 
   display: flex;
 
}

.row_cell {
 
   flex: 1
 
}

.row_cell--2 {
 
   flex: 2
 
}

.row--top {
 
   align-items: flex-start
 
}
.row--center {
 
   align-items: center
 
}
.row--bottom {
 
   align-items: flex-end
 
}
