* {
    margin: 0;
    padding: 0;
}

body {
 
  display: flex;
    height: 100vh;
 
}

aside {
 
   width: 20vw
 
}

.media {
 
   display: flex;
    align-items: flex-start;
 
}

.media-object {
    background-color: gray;
}

.media-body {
 
   flex: 1;
    background-color: whitesmoke;
 
}

.media-heading {
    background-color: gainsboro;
}

header,
 
footer {
 
    background-color: gray;
    height: 20vh;
 
}

main {
    
    display: flex;
    flex:1;
    background-color: whitesmoke;
 
}

nav,
 
aside {
 
  width: 20vw;
    background-color: gainsboro;
 
}

article {
 
   flex: 1
 
}

nav {
 
  order: -1
 
}

