* {
    margin: 0;
    padding: 0;
}

body {
 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
 
}

header,
 
footer {
 
    background-color: gray;
    height: 20vh;
 
}

main {
    
    display: flex;
    flex: 1;
    background-color: whitesmoke;
 
}

nav,
 
aside {
 
  width: 20vw;
    background-color: gainsboro;
 
}

article {
 
   flex: 1
 
}

nav {
 
  order: -1
 
}

